.lHead {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 25px 0;
}
.lHead .lLogo {
	float: left;
	width: 525px;
	height: 110px;
	background: url('../images/logo.png') no-repeat 0 0;
}
.lLogo a {
	display: block;
	width: 525px;
	height: 110px;
}
.introText {
	float: right;
	width: 400px;
	padding-top: 15px;
}
.introText p {
	text-align: center;
	font-size: 18px;
}
.introText p b {
	font-weight: bold;
	background: #FFEB00;
}
/*.introText .markText {
	background: #FFEB00;
}*/
.tableSum {
	width: 960px;
	margin: 0 auto;
}
.tableImg {
	width: 678px;
	height: 439px;
	float: left;
	background: url('../images/table.png') no-repeat 0 0;
}
.featuresProj {
	float: left;
	width: 282px;
}
.featuresProj ul {
	
}
.featuresProj ul li {
	font-size: 18px;
	padding: 8px 0 11px 55px;
	margin-bottom: 10px;
	background: url('../images/check.png') no-repeat left center;
}
.featuresProj p {
	margin-bottom: 10px;
	font-size: 16px;
}
.dwnArea {
	width: 960px;
	margin: 0 auto;
}
.bagImg {
	float: left;
	width: 270px;
	height: 241px;
	background: url('../images/bag.png') no-repeat 0 0;
}
.dwnArea .dwnBtn {
	float: left;
	font-size: 18px;
	width: 394px;
	margin-top: 40px;
}
.dwnBtn p {
	text-align: center;
}
.dwnBtn a {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 299px;
	height: 65px;
	position: relative;
	z-index: 9;
	background: url('../images/btn.png') no-repeat 0 0;
}
.dwnBtn a:hover {
	background: url('../images/btn.png') no-repeat 0 -65px;
}
.coinsWrap {
	width: 960px;
	margin: 0 auto;
	margin-top: -208px;
	margin-bottom: 30px;
}
.coinsImg {
	float: right;
	width: 376px;
	margin-top: -230px;
	padding-top: 410px;
	background: url('../images/coins.png') no-repeat 0 0;
}
.coinsImg p {
	text-align: center;
	font-size: 18px;
}
.coinsImg b {
	font-weight: bold;
}
.coinsImg a {
	font-size: 25px;
	color: #008bda;
}
.coinsImg a:hover {
	color: #34b5ff;
}
.supList {
	float: left;
	width: 555px;
}
.supList ul {
	margin-top: 20px;
}
.supList ul li {
	font-size: 16px;
	margin-bottom: 10px;
	text-align: justify;
	line-height: 1.5em;
	padding-left: 75px;
	height: 68px;
}
.supList ul li.instIcon {
	background: url('../images/install_icon.png') no-repeat left center;
}
.supList ul li.privatIcon {
	background: url('../images/privat_icon.png') no-repeat left center;
}
.supList ul li.netIcon {
	padding-bottom: 10px;
	background: url('../images/net_icon.png') no-repeat left center;
}