html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Trebuchet MS, Helvetica, Arial, Verdana, Sans-Serif;
	font-size: 11px;
	color: #000;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-weight: normal;
	font-family: Museo500, Trebuchet MS, Helvetica, Arial, Verdana, Sans-Serif;
}
h2 {
	font-size: 50px;
	margin: 10px 0 10px 0;
	line-height: 40px
}
h3 {
	font-size: 15px;
	font-weight: bold;
}
p {
	line-height: 1.5em;
	color: #1D1D1D;
	font-family: Museo500, 'Trebuchet MS', Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.3em;
	text-align: left;
}
.world {
	background-image: url(../image/world.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.flag {
	background-image: url(../image/flag.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.target {
	background-image: url(../image/target.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.idea {
	background-image: url(../image/idea.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.light {
	background-image: url(../image/light.png);
	background-position: 2px center;
	background-repeat: no-repeat;
}
.zoom {
	background-image: url(../image/zoom.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.glas{
	background-image: url(../image/glas.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.clock{
	background-image: url(../image/clock.png);
	background-position: 2px center;
	background-repeat: no-repeat;
}
.rules{
	background-image: url(../image/rules.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.line {
	width: 100%;
	height: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #0089C5;
}
.gotoNext {
	float: left;
	width: 100%;
	padding-top: 100px;
}
.gotoNextPos {
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.gotoNext span {
	border-radius: 50%;
	background: #000 url(../image/next_icon.png) no-repeat center 53px;
	width: 70px;
	height: 70px;
	display: inline-block;
	float: left;
	margin-top: 2px;
	margin-right: 10px;
	color: #fff;
	text-align: center;
	line-height: 73px;
	font-size: 22px;
}
.gotoFirstPos {
	width: 70px;
	height: 74px;
	margin: 0 auto;
}
.gotoBack {
	float: left;
	width: 100%;
	padding-top: 100px;
}
.gotoBack span {
	border-radius: 50%;
	background: #000 url(../image/next_icon.png) no-repeat center 53px;
	width: 70px;
	height: 70px;
	display: inline-block;
	float: left;
	margin-top: 2px;
	margin-right: 10px;
	color: #fff;
	text-align: center;
	line-height: 64px;
	font-size: 22px;
	-moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.mrgRight0 {
	margin-right: 0 !important;
}
.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.wrapper {
	width: 100%;
}
.wrapper .head {
	width: 100%;
	position: fixed;
	z-index: 99;
}
.head .headCont {
	width: 980px;
	margin: 0 auto;
	padding: 0 20px;
	height: 128px;
	background-color: #fff;
}
.headCont .logo {
	float: left;
	width: 526px;
	height: 112px;
	margin-top: 9px;
	background: url(../image/logo.png) no-repeat left top;
}
.logo a {
	text-decoration: none;
}
.logo a h1 {
	font-size: 50px;
}
.headCont .rightArea {
	float: right;
	width: 300px;
	height: 40px;
	background: #ccc;
}
.menu {
	width: 100%;
	background-color: #000;
}
.menu .menuCont {
	width: 980px;
	margin: 0 auto;
	padding: 0 20px;
}
.menu .menuCont ul {
	float: left;
}
.menu .menuCont ul  li {
	float: left;
	margin-right: 15px;
}
.menu .menuCont ul  li a {
	text-decoration: none;
	padding: 10px 10px;
	display: block;
}
.menu .menuCont ul  li a:hover {
	background: #555;
}
.menu .menuCont ul  li a span {
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}
.main {
	width: 100%;
}
.main .mainCont {
	width: 980px;
	margin: 0 auto;
	padding: 10px 20px 0 20px;
}
.mainCont .containerNav {
	position: fixed;
	top: 200px;
	display: inline-block;
}
.mainCont .containerNav ul {
	
}
.mainCont .containerNav ul li {
	margin: 0 0 10px 0;
}
.containerNav a {
	background: url(../image/section-indicator.png) 0% 0% no-repeat;
	display: block;
	height: 13px;
	overflow: hidden;
	padding: 3px 0px;
	text-indent: -200em;
	width: 13px;
}
.containerNav a:hover, .containerNav a.active {
	background-position: 0% -24px;
}
.mainCont .container {
	padding: 0 0 0 60px;
}
.topContFrt .topContLeft {
	float: left;
	width: 570px;
}
.topContFrt .topContRight {
	float: left;
	width: 350px;
}
.mainCont .container .topContFrt {
	margin-bottom: 160px;
}
.mainCont .container .topContFrt h2 {
	font-size: 50px;
	margin: 0 0 10px 0;
	float: left;
	line-height: 40px
}
.mainCont .container .topContFrt p {
	color: #1d1d1d;
	float: left;
	margin: 20px 30px 20px 0;
	font-family: Museo500, 'Trebuchet MS', Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.3em;
	text-align: left;
}
.container ul.sections{
	border-top: 3px solid #0089C5;
	border-bottom: 3px solid #0089C5;
	float: left;
	width: 100%;
	padding: 0 0 20px 0;
	margin-top: 10px;
}
.container ul.sections li {
	display: inline;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 20px 0px 0px 0px;
}
.container ul.sections li a {
	text-decoration: none;
	color: #0089C5;
	font-size: 15px;
}
.container ul.sections li.slogan {
	margin: 0 108px 0 0;
}
.container ul.sections li.slogan h3 {
	font-size: 15px;
	font-weight: bold;
}
.radius {
	border-radius: 50%;
	background-color: #000;
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	margin-top: 2px;
	margin-right: 10px;
	color: #fff;
	text-align: center;
	line-height: 21px;
}
.scrollStep {
	
}
.container ul.sections li.secColumn1 {
	width: 100%;
	line-height: 25px;
}
.container ul.sections li.secColumn2 {
	width: 100%;
	line-height: 25px;
}
.container ul.sections li.secColumn3 {
	width: 100%;
	line-height: 25px;
}
.widthBlq {
	width: 234px !important;
}
.curly-quotes {
	font-family: Georgia, serif;
	font-weight: bold;
	width: 315px;
	line-height: 20px;
}
.curly-quotes:before, .curly-quotes:after {
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
  opacity: .2;
  line-height: 48px;
  height: 20px;
}
.curly-quotes:before {
  content: '\201C';
  margin-right: 4px;
  margin-left: -3px;
  margin-top: -3px;
}
.curly-quotes:after {
  content: '\201D';
  margin-left: 4px;
  margin-right: -8px;
}
.autor {
	display: block;
	margin-left: 263px;
	font-weight: bold;
}
.bottomCont {
	float: left;
	padding-top: 10px;
}
.bottomCont ul {
	float: left;
	width: 100%;
	padding: 0 0 20px 0;
}
.bottomCont 	ul li {
	display: inline;
	float: left;
	list-style: none;
	width: 286px;
	margin-right: 30px;
	
}
.bottomCont 	ul li:last-child {
	margin-right: 0;
}
.bottomCont h3 {
	margin: 10px 0;
}
.bottomCont 	ul li a {
	color: #0089C5;
	font-size: 20px;
	line-height: 25px;
	text-decoration: none;
}
.bottomCont 	ul li a:hover {
	text-decoration: underline;
}
.middleCont {
	margin-bottom: 160px;
	float: left;
}
.middleCont  h2 {
	float: none !important;
}
.middleCont p {
	float: left;
}
.middleCont ul {
	float: left;
	margin-left: 30px;
	width: 490px;
}
.middleCont ul li {
	display: inline;
	float: left;
	list-style: none;
	margin-bottom: 10px;
	width: 100%;
}
.middleCont ul li h3 {
	line-height: 24px;
	color: #0089C5;
}
.middleCont .left {
	float: left;
	width: 400px;
}
.middleCont .left p {
	
}
.middleCont .right {
	float: left;
}
.lastCont {
	float: left;
	margin-bottom: 300px;
}
.lastCont .left {
	float: left;
	width: 580px;
}
.lastCont .right {
	float: right;
	margin-left: 30px;
	width: 310px;
}
.footerWrap {
	width: 100%;
	background-color: #000;
}
.footerWrap .footerCont {
	width: 980px;
	margin: 0 auto;
	padding: 0 20px;
	height: 300px;
}